.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Third-color);
  color: var(--Primary-text);
  padding: 16px;
  min-width: 400px;
}

.card-lower {
  display: flex;
  flex-direction: column;
}
