.c-ProjectCard {
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Third-color);
  color: var(--Primary-text);
  padding: 16px;
  width: 33%;
  margin-bottom: 7px;
}

@media only screen and (max-width: 1220px) {
  .c-ProjectCard {
    width: 49.7%;
  }
}

@media only screen and (max-width: 800px) {
  .c-ProjectCard {
    width: 100%;
  }
}
