.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-title {
  text-align: center;
  grid-area: title;
  margin-bottom: 5px;
  background-color: var(--Third-color);
  padding: 20px;
  margin-bottom: 20px;
}
